# Source: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Apache_Configuration_htaccess#cross-origin_resources
# Cors
<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
  <FilesMatch "\.(eot|otf|tt[cf]|woff2?)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>

ErrorDocument 404 /src/app/errors/404.php

# Cache expiration
<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresDefault                                      "access plus 1 month"
# CSS
  ExpiresByType text/css                              "access plus 1 year"
# Data interchange
  ExpiresByType application/json                      "access plus 0 seconds"
# Favicon (cannot be renamed!) and cursor images
  ExpiresByType image/x-icon                          "access plus 1 week"
# HTML
  ExpiresByType text/html                             "access plus 0 seconds"
# JavaScript
  ExpiresByType text/javascript                       "access plus 1 year"
# Manifest files
  ExpiresByType application/manifest+json             "access plus 1 week"
  ExpiresByType application/x-web-app-manifest+json   "access plus 0 seconds"
  ExpiresByType text/cache-manifest                   "access plus 0 seconds"
# Media files
  # PNG
  ExpiresByType image/png                             "access plus 1 month"
# Other
  ExpiresByType text/x-cross-domain-policy            "access plus 1 week"
</IfModule>
