@import "../../styles.scss";

.ellipses {
    min-width: 10rem;
    min-height: 10rem;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .ellipsis {
        background-color: $primary-color;
        border-radius: 100%;
    }

    .small {
        width: 3rem;
        height: 3rem;
        margin-left: -1rem;
    }

    .large {
        width: 5rem;
        height: 5rem;
        opacity: 70%;
    }
}

@media screen and (min-width: 992px) {
    // .ellipses {
    //     display: none;
    // }
    .ellipses {
        z-index: -1;
        position: fixed;
        width: 90vw;
        height: 100vh;
        overflow-y: hidden;
        overflow-x: visible;

        #el-large {
            position: fixed;
            height: 40vw;
            width: 40vw;
            top: random($limit: 100 - 20)+vh;
            right: random($limit: 100 - 20)+vw;
        }
    
        #el-small {
            position: fixed;
            height: 24vw;
            width: 24vw;
            top: random($limit: 100 - 12)+vh;
            right: random($limit: 100 - 12)+vw;
        }
    }
}