@import "../styles.scss";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.nav-crud-operations {
    color: $primary-color;
    text-decoration: underline;
}

section {
    margin: 2em 0;

    height: 10em;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    row-gap: 1em;
    align-items: center;

    .title {
        grid-row: 1 / 2;
        font-size: 1.2em;
        display: flex;
        justify-content: center;

        width: 100%;
        border-bottom: 2px solid #{$primary-color}99;

    }
    form {
        grid-row: 2 / 4;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        row-gap: 1em;

        label {
            grid-row: 1 / 2;
        }

        input {
            grid-row: 2 / 3;
        }

        button {
            grid: 2 / 3;
            width: 20%;
            justify-self: flex-end;
        }
    }
}

#dangerZone {
    background-image: linear-gradient(to right, black 50%, $red 0%);
    background-position: bottom;
    background-size: 10px 2px;
    background-repeat: repeat-x;
    border-bottom: none;
}

.console {
    padding: 0.5em 3em;
    border-top: 1px solid $primary-color;

    color: white;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;

    min-height: 25vh;
    overflow-y: auto;

    &:hover {
        box-shadow: 0px -2px 1px #88888838;
        border-top: 1px solid #{$primary-color}88;
    }

    &:empty {
        display: none;
    }
}

.console-text {
    font-family: 'Ubuntu Mono', monospace;
    color: white;
    &::before {
        content: "Admin$";
        color: rgb(111, 111, 212);
        margin-right: 1em;
        font-weight: 800;
    }
    &::selection {
        color: black;
        background: white;
    }
}

.console-success {
    color: $primary-color;
    &::selection {
        color: black;
        background: white;
    }
}

.console-danger {
    color: $red;
    &::selection {
        color: black;
        background: white;
    }
}

::-webkit-scrollbar {
    display: none;
}