@import "../../styles.scss";


body {
    margin:0;
    padding: 0;
}

.logo {
    word-wrap: break-word;
}

.custom-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: 1.5em;
    padding: 1em 2em;
}

.right-navbar-wrapper {
    font-size: 0.75em;
    display: flex;
    flex-direction: row;
    padding: 0.2em 0.75em;
    gap: 2em;

    position: absolute;
    right: 3em;

    @include set-background($lightest-color);
    border-radius: 0.4em;
    background-color: #747474;
}

@media (max-width: 650px) {
    .custom-navbar {
        padding: 0.5em;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        row-gap: 1em;
    }

    .right-navbar-wrapper {
        position: relative;
        border-radius: 0.4em;
    }
}