@import "../../styles.scss";

.navbar-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em 0.75em;

    font-size: 1.2em;
}

.btn-navbar {
    background: none;
    background-color: none;
    border: none;
    position: absolute;
    right: 1.5em;
    z-index: 9999;

    i.fas {
        
        color: white;

        &:hover, &:active {
            color: $primary-color
        }


    }
}

.navbar-full {
    display: none;
    z-index: 9998;
    
    width: 71.5%;
    max-width: 340px;
    height: 100%;
    flex-direction: column;
    border-left: 1px solid $primary-color;
    position: fixed;
    right: 0;

    padding-top: 7em;
    margin-top: -4.7em;
    gap: 0.75em;
    background-color: #000000df;

    .nav-item {
        font-size: 1.2em;
        padding-left: 1.3em;
    }
}
