@import "../../styles.scss";

.navbar-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em 0.75em;

    font-size: 1.2em;
}

.btn-navbar {
    background: none;
    background-color: none;
    border: none;
    position: fixed;
    right: 1.5em;
    z-index: 9999;

    i.fas {
        
        color: white;

        &:hover, &:active {
            color: $primary-color
        }


    }
}

.navbar-full-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 9997;
}

.navbar-full {
    display: none;
    z-index: 9998;
    
    width: 71.5%;
    max-width: 340px;
    height: 100%;
    flex-direction: column;
    border-left: 1px solid $primary-color;
    position: fixed;
    right: 0;
    bottom: 0;

    padding-top: 10em;
    margin-top: -4.7em;
    gap: 1em;
    background-color: #000000df;

    .nav-item {
        font-size: 1.2em;
        padding-left: 1.3em;
    }
}

@media screen and (min-width: 992px) {
    .custom-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        button.btn-navbar, .navbar-full-overlay {
            display: none;
        }

        .app-title {
            align-self: flex-start;
            font-size: 1.4em;
        }

        .navbar-full {
            display: flex;
            flex-direction: row;
            position: absolute;
            right: 0;
            top: 0.8em;
            padding: 0;
            padding-right: 2em;
            margin-top: 0.5em;

            min-width: 35em;
            max-height: 2em;
            z-index: 99999;

            background-color: #ffffff;
            opacity: 70%;
            color: black;
            border: 0;
            border-radius: 0.5em 0 0 0.5em;
        }
    }
}
