@import "../styles.scss";

#regLoc-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.custom-navbar {
    .nav-reg-loc {
        color: $primary-color;
        text-decoration: underline;
    }
}

section.reg-loc {
    max-width: 400px;
    margin: auto;

    .btn.btn-outline-success {
        color: $primary-color;
        border-color: $primary-color;
        margin-top: 0.5rem;

        &:hover, &:active {
            @include set-background($primary-color);
        }
}
}







section.home-map {
    margin-top: 2.5em;

    #map {
        height: 300px;
    }
}