body {
    width: 100%;
    height: 100%;

    background-color: black;
    color: white;
    
    font-family: 'Righteous';
    font-size: 15px;
    line-height: 19px;
}

form {
    top: 20%
}

#logo {
    position: absolute;
    width: 200px;
    left: 35px;
    top: 35px;   
}

.color {
    color: #00C6AF;
}

label, input {
    display:flex;
    flex-direction:column;
}

#rb1 {
    border-radius: 11px;
    background: rgba(255, 255, 255, 0.925);
    padding: 10px;
    width: 300px;
    height: 5px;
}

#rb2 {
    border-radius: 11px;
    background: rgba(255, 255, 255, 0.925);
    padding: 10px; 
    width: 100px;
    height: 5px;
}

input[type=submit] {
    border-radius: 11px;
    background: #00C6AF;
    font-family: 'Righteous';
    font-size: 10px;
    color:white;
    padding: 10px; 
    width: 60px;
    height: 5px;
    
}

.foo {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
