<form [formGroup]="loginForm" class="card card-login">
    <div *ngIf="loginErrors.loginFailed || loginErrors.fieldInvalid" class="form-text text-danger">{{loginErrors.message}}</div>
    <div class="form-group">
        <label for="input-username">Username</label>
        <input type="username" class="form-control" id="input-username" formControlName="username">
        <div *ngIf="username?.touched && username?.errors?.required" class="form-text text-danger">Username is required!</div>
    </div>
    <div class="form-group">
        <label for="input-password">Password</label>
        <div class="password-group">
            <input type="{{passwordModel.type}}" class="form-control password" id="input-password" aria-describedby="passwordHelp" formControlName="password">
            <button class="btn-pass" (click)="onPasswordShow()"><i class="{{passwordModel.iconClass}}"></i></button>
        </div>
        <small id="passwordHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
        <div *ngIf="password?.touched && password?.errors?.required" class="form-text text-danger">Password is required!</div>
    </div>
    <div class="card-footer-login">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="remember-check" formControlName="rememberMe">
            <label class="form-check-label" for="remember-check">Remember me</label>
        </div>
        <button type="submit" class="btn btn-custom-primary btn-login" (click)="onLogin()">Login</button>
    </div>
</form>